* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    height: 95px;
    z-index: 1001;
    border-top: 5px solid #ec1d25;
}

header .container {
    display: flex;
    align-items: center;
    gap: 70px;
}

header ul {
    display: flex;
    gap: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-left: 50px;
    width: 66%;
}

header a {
    color: white;
    transition: 0.3s;
}

header a:hover {
    color: red;
}

header .icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.fa-solid {
    transition: 0.3s;
    cursor: pointer;
}

.fa-solid:hover {
    color: red;
}

aside {
    position: fixed;
    z-index: 1200;
    width: 350px;
    height: 100%;
    overflow: auto;
    background-color: white;
    top: 0;
    right: 0;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 45px;
}

aside a {
    color: black;
    transition: 0.3s;
}

aside a:hover {
    color: red;
}

.reservation_button {
    width: 150px;
    height: 40px;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
}

.reservation_button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.text_galerry {
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 63px;
}

.little_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 25px;
}

.little_box {
    width: 22%;
    margin: 5px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}

.little_box img {
    width: 100%;
}

.add {
    display: inline-block;
}

.none {
    display: none;
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 1000px;
    }
    header ul {
        gap: 20px;
        font-size: 14px;
        padding-left: 20px;
        width: 66%;
    }
    .pato_img {
        width: 99px;
        height: 45px;
    }
}

@media screen and (max-width:1000px) {
    .container {
        max-width: 768px;
        justify-content: space-between;
        width: 100%;
    }
    header ul {
        display: none;
    }
    .pato_img {
        width: 99px;
        height: 45px;
    }
    header .container {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .box {
        flex-direction: column;
    }
    .boxes {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding-top: 80px;
    }
    header .container {
        padding-top: 80px;
    }
    header ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width:500px) {
    .container {
        max-width: 320px;
    }
}

@media only screen and (max-width: 320px) {
    header {
        padding-top: 50px;
    }
    header .container {
        padding-top: 50px;
    }
    header ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}